body {
  font-size: 0.95rem;
}

h1 {
  font-weight: 700 !important;
  font-size: 2rem;
}

.portrait-title h2 {
  font-weight: 700;
}

h2, h3 {
}

.section-subheading a {
}

.light .card-simple .article-title, .media.stream-item .article-title {
  font-size: 1.2rem;
}
